body {
   padding-top: 107px;
   background-color: #eeeff0;
   color: #666;
}

h1,h2,h3 {
   color: #555;
}

.ingredients {
   float: right;
   width: 400px;
   margin-right: 5px;
   margin-top: 20px;
   margin-bottom: 20px;
}

.ingredients p {
   line-height: 12px;
}

#recipe_success, #recipe_alert, #ingredient_success, #ingredient_alert {
   display: none;
}

label {
   font-weight: normal;
}

#ingredient_name,#ingredient_price {
   display: inline;
}

#ingredient_name {
   width: 160px
}

#recipe_name {
   margin-bottom: 20px;
}

#add_recipes .amount_field {
   width: 60px;
   display: inline;
}

#ingredient_price {
   width: 80px;
}

#recipe_add, #ingredient_add {
   margin-top: 20px;
}

.recipes {
   margin-top: 20px;
   width: 520px;
}

.align_right {
   text-align: right;
}

#recipe_add_small,#ingredient_add_small {
   float: right;
}

.ingredients_title {
   font-size: 30px;
}

#add_recipes, #add_ingredients {
   display: none;
}

.well {
   font-size: 12px;
}

#is_organic {
   margin-top: 20px;
}

.copy {
   text-align: center;
   margin-bottom: 12px;
   font-size: 11px;
}

.sub_total {
   margin-top: 20px;
}

.recipe_remove {
   float: right;
   margin-left: 6px;
   display: none;
}

.content {
   background-color: #fff;
   border: 1px solid #dcdad4;
}

.content.home {
   border-top: none;
   top: -20px;
   position: relative;
}

.container {
   max-width: 980px;
}

.navbar-default {
   background-color: #fff;
   border: none;
   box-shadow: 0 2px 3px rgba(0, 0, 0, 0.3);
}

.video-section {
   margin: 0 auto;
   max-width: 980px;
   border-bottom: 7px solid #428bca;
   position: relative;
   top: -20px;
}

.video-section .btn {
   position: absolute;
   left: 50%;
   top: 250px;
   margin: 0 0 0 -53px;
}

.video-section h2 {
   color: #428bca;
   max-width: 600px;
   text-align: center;
   position: absolute;
   top: 50px;
   margin-left: -300px;
   left: 50%;
   font-size: 3em;
}

.btn-zynx-purple {
   background-color: #428bca;
   color: #fff;
   border-color: rgb(153, 77, 138);
}

.btn-zynx-purple:hover {
   color: #fff;
   background-color: rgb(132, 66, 119);
   border-color: rgb(123, 62, 111);
}

@media ( min-width :768px) {
   .navbar-nav {
      margin-top: 25px;
   }
   .navbar-form {
      margin-top: 25px;
   }
   .container>.navbar-header {
      margin-right: 25px;
   }
}